Hai să plecăm când ești pregătită.
Nici o problemă!
Am cumpărat asta din Australia luna trecută.
Pa pa! Ai grijă de tine!
Poate s-a întâmplat ceva cu ea.
Scrierea japoneză este foarte complicată, ea are trei alfabete cu peste două mii de caractere.
Universul este un mister.
Ai grijă de tine!
Hai să plecăm când ești pregătit.
