Ești un înger!
Mulțumim!
Diseară mergem la biserică.
Nu am pisică.
Eu sunt vegetariană.
Nici o problemă!
Eu sunt vegetarian.
Vorbești franceză?
Sunt multe orașe mari în Brazilia.
Dacă aș vedea-o pe Anca, probabil că nu aș recunoaște-o.
La început a făcut Dumnezeu cerul şi pământul.
Am o mahmureală azi.
Salut!
Începând cu anul 1950, ţările europene încep să se unească, din punct de vedere economic şi politic, în cadrul Comunităţii Europene a Cărbunelui şi Oţelului, propunându-şi să asigure o pace durabilă.
Unde e biroul meu?
Nu te iubesc.
Ea lucrează zi și naopte.
Bună, ce faci?
„Mulțumesc.” — „Cu plăcere.”
Doarme ca un bebeluş.
Înțeleg.
Ea a scris o scrisoare.
Poftă bună!
Aceasta este o carte.
Ești genul meu.
Mama mea e o foarte bună bucătăreasă.
Ai înțeles?
Nu te întrista.
Am un dicționar.
El este fericit.
E foarte sexy.
Nu știu!
Nu vorbesc japoneza.
Nimic nou sub soare.
Bună dimineaţa, Mike.
Această bere conține 5% alcool.
Calculatorul este nou.
Unde munceşti?
Ea nu mă ascultă.
Unde ești?
Este adevărat?
Vreau să trăiesc în Italia.
Am citit că preşedintele Braziliei este o femeie. Ea se numeşte Dilma.
Noapte bună.
Nu înțeleg germana.
Încă nu sunt gata.
De ce nu?
Îmi place să citesc.
Mulțumesc foarte mult!
Ascultă-mă!
E o problemă acolo pe care nu o vezi.
- Îi place muzica. - Și mie.
Ea poartă aceeași rochie pe care a avut-o și ieri.
Da, vă rog.
În Belfast există o stradă care se numeşte Madrid şi care se termină brusc în zidul Berlinului. Peretele constă într-o parte de cărămidă, alta de fier şi alta de oţel. Măsoară peste şapte metri înălţime şi se termină cu piroane şi sârmă ghimpată.
Avem papă.
Nu e vina mea!
Toate ființele umane se nasc libere și egale în demnitate și în drepturi. Ele sunt înzestrate cu rațiune și conștiință și trebuie să se comporte unele față de altele în spiritul fraternității.
Sunt câțiva trandafiri frumoși în vază.
Unu, doi, trei, patru, cinci, șase, șapte, opt, nouă, zece.
Ce?
Nu mai am nicio idee.
Bună seara, ce mai faceți?
Somn uşor!
Îmi place limba occitană.
Unu plus doi egal trei.
Vorbiți engleză?
Albul mută şi câştigă.
Eu sunt foarte ocupat astăzi.
El doarme?
Sunt foarte obosit.
Cerul este albastru.
E foarte frig.
Eu sunt foarte ocupată astăzi.
Nimic special.
Doarme?
Sunt fericit.
“Economia îndepărtează cele două maluri ale Atlanticului”: astfel rezumă La Stampa consecinţele declaraţiilor recente ale lui Barack Obama potrivit cărora slabele perspective de creştere ale Statelor Unite sunt cauzate de proasta gestionare a crizei din zona euro.
Bună seara, ce faci?
Unde e mașina mea?
Eu văd casa.
Unde mergem?
Camera tatălui meu e foarte mare.
Care este adresa ta de e-mail?
Îmi place să dorm.
Această bere conţine 5 % alcool.
A căzut din copac.
Vorbeşti germana?
- Bună dimineața, a zis Tom cu un zâmbet.
La revedere, Sayoko!
Ea este fericită.
Sunt șomer.
Cum spui XXX în olandeză?
Vorbiți italiană?
Radioul este stricat.
Astăzi este foarte cald.
O pisică a fost pe masă.
Nu, nu poate fi adevărat.
Sunt bărbat.
Vorbiți japoneză?
Ieri a fost joi.
Salut! Bună dimineața!
Nu am computer acasă.
Am 25 de ani.
Sora mea e drăguță.
Nu înțeleg germana.
Lui Tom îi place zăpada.
Pula mea!
Noroc bun!
Sunt aici.
Salut, Tom.
Mulțumesc.
Da.
Vorbești japoneză?
Anna este o fetiță.
Mulțumesc!
Da, înțeleg. Mulțumesc.
Mă cunoști?
Sunt Tom Hunter.
Bună!
Nu, nu e noul meu prieten.
Ceasul meu s-a stricat.
La început a făcut Dumnezeu cerul şi pământul.
Nu înțeleg.
Azi e foarte cald.
Nu-mi plac filmele.
Vorbeşte puţin engleza.
Cu plăcere.
Este periculos!
Bună ziua, cum vă pot fi de folos?
Unde e școala ta?
Îmi place matematica.
Greaca nu e o limbă uşoară.
El nu este flămând.
Pakistan este o țară musulmană.
Daniela mi-a telefonat acasă.
Dicţionarul de pe birou este al meu.
Pisica ta este neagră.
Îl cunosc.
Noapte bună, mamă.
Sora lui George mi-a făcut niște sandvișuri.
Melanie bea lapte.
Eu nu știu.
E frig.
Ești student?
Bună seara.
Îmi pare rău, n-am nici o idee.
Trăiască haosul!
Eu sunt șomer.
Ce gătiți?
Uniunea Europeană a fost creată cu scopul de a se pune capăt numărului mare de războaie sângeroase duse de ţări vecine, care au culminat cu cel de-al Doilea Război Mondial.
Te iubesc, îngerul meu.
Astăzi vremea e frumoasă.
Beau apă în bucătărie.
Românii din Transilvania vorbesc foarte rar.
Știi cine l-a făcut?
Ești frumoasă.
Ea lucrează la școală.
Bună seara, ce mai faceți?
Mâine e sâmbătă?
Cum te numești?
Aceste cărți sunt noi.
Bine ai venit!
Nu știu dacă am timpul necesar.
Îmi place jazzul.
Mama mea este în bucătărie.
Tom știe cine e Mary.
Care acoperiș este verde?
Vă rog.
Îmi place să vorbesc limba velșă.
Are pian?
Mulțumesc frumos.
Bine ați venit!
Îmi place tenisul.
Paltonul tău este foarte frumos.
Cu plăcere.
Acesta este computerul meu.
