Şi-a pierdut toţi banii pe care îi avea.
Da.
Am hotărât să scriu periodic articole în limba engleză.
Am citit că preşedintele Braziliei este o femeie. Ea se numeşte Dilma.
Unu, doi, trei, patru, cinci, șase, șapte, opt, nouă, zece.
Locuiesc în Moldova.
Toate ființele umane se nasc libere și egale în demnitate și în drepturi. Ele sunt înzestrate cu rațiune și conștiință și trebuie să se comporte unele față de altele în spiritul fraternității.
Vorbești engleză?
Pantalonii tăi sunt murdari.
Nu avem nevoie de un nou limbaj auxiliar, limba engleză îndeplinește deja acest rol.
Universul este un mister.
Mulțumesc!
Trăiască haosul!
