El trebuie să fie foarte obosit după o plimbare lungă.
În Japonia noul an școlar începe în aprilie.
La revedere!
Care este capitala Finlandei?
Mă numesc Ricardo.
Autorul a dedicat cartea surorii sale.
În Laponia se vorbesc multe limbi.
El a încercat în zadar să renunțe la fumat.
Greaca nu e o limbă uşoară.
Fraţilor!
Cine crezi că este mai drăguță, Mary sau Alice?
M-am săturat!
Îți amintești acest film?
Unu, doi, trei, patru, cinci, șase, șapte, opt, nouă, zece.
