Apa este greu de găsit în această zonă.
Aşteptăm cu nerăbdare publicarea cărţii lui.
Eu am mers la şcoală cu trenul.
El deţine nu mai puţin de 500 de cărţi.
Cer scuze că sunt îmbrăcat așa.
Casa aceasta are două băi.
Am apreciat comportamentul lui ca copilăros.
Este ora opt seara.
Ăsta este un lucru extrem de neobişnuit.
Merg bine lucrurile?
Guvernul britanic este împotriva planului.
Veştile rele călătoresc repede.
Eficiența medicamentului este incertă.
Închide ușa, te rog.
Eu nu știu.
Nu ar trebui să lași copiii să mănânce prea multe dulciuri.
De ce nu ne-am duce să privim un film?
Deschide!
Eşti bine?
Unde este Tony?
Eu voi plăti.
Alb?
L-am felicitat pentru succesul său.
Cât de mult mi-aș dori să nu am teste.
L-am felicitat cu ocazia susţinerii examenului.
De ce nu?
Sunt obosit!
Şi mie-mi plac prăjiturile.
Nu vorbi cu gura plină.
Nu poți exista fără apă.
Ea se căsătorește în această toamnă.
Cât e ceasul?
Unde este Tony?
Spală-te!
Este multă mobilă în această cameră.
Calculatorul este nou.
Ești frumoasă ca o floare de vișin.
El este un pictor.
Mike este căpitanul echipei noastre.
Ce vârstă ai?
Ți-a spus ceva?
Unu, doi, trei, patru, cinci, șase, șapte, opt, nouă, zece.
Voi sta alături de tine, orice s-ar întâmpla.
Dioxidul de carbon în sine nu este otrăvitor.
Îmi este somn și mai dorm puțin.
Ce?
Eu sunt liber.
Vreau să mănânc ceva.
Cît timp va dura călătoria cu taxiul pînă la gara feroviară?
Noi am citit textul integral al discursului său.
Nu știu dacă este adevărat sau nu.
De obicei sunt taxiuri în fața gării.
Casa mea este sus pe un deal.
Acest cuvânt are două sensuri.
Când pisica nu-i acasă, joacă şoarecii pe masă.
Tom s-a făcut că n-aude.
Trebuie să luăm în consideraţie tinereţea lui.
E păcat că nu l-am vizitat pe Tom atunci când am avut ocazia.
Ne-am dus să vedem broaște țestoase pe plajă.
L-am telefonat pe fiul lor Jimmy.
Este foarte chipeș.
Pleacă!
Ce-i asta?
Cred că toată lumea știe.
Dumneata ești traducător?
Nu veți intâmpina probleme.
Tom și Mary se gândesc la divorț.
Într-o zi, el s-a sinucis.
Este secret.
La mulți ani!
Sora lui George mi-a făcut niște sandvișuri.
Este adevărat.
Ai fost vreodată la Washington, capitala Statelor Unite ale Americii?
Tom e de negăsit. O fi plecat deja?
Ai ceva planificat pentru astăzi seara?
Sora mea cea mare practică fuga în fiecare zi.
Datoria ta e să înveţi.
Mâine este ziua când primesc salariul.
A întârziat din cauza zăpezii.
Îţi place muzica?
Nu fi leneş, foloseşte kanjiurile deja învătaţe.
Poate fi folosit drept cuţit.
Comparativ cu vechiul model, acesta este mult mai uşor de folosit.
Acesta nu este zahăr.
Am ajutat-o pe mama cu gătitul.
Ochii lui sunt albaștri.
Pentru mine, nu e o problemă.
Credeți în Dumnezeu?
Unu plus doi egal trei.
Ce ai făcut ieri?
Ascultă!
Indiferent de cât de mult îmi încordam memoria, nu puteam să-mi aduc aminte acel nume.
Limba rusă e foarte greu de învăţat.
Comitetul este alcătuit din zece membri.
Ea vorbeşte fluent engleza.
Îmi place să vizionez filme.
Cât e consumul la această maşină?
O sumă mare de bani a fost pierdută.
Albul mută şi câştigă.
Trebuia să-i urmăm sfatul.
Hai!
Vă place să călătoriți?
El este strălucitor în fizică.
El are trei frați.
Am primit scrisoarea ta alaltăieri.
Aș dori să comand același lucru.
I-am atribuit succesul mai mult unei munci asidue decât geniului său.
În sfârşit e vineri.
Noi am apreciat pierderile lui la 100 de dolari.
Jocul s-a încheiat la ora nouă.
E-mailul nu este inregistrat sau parola nu coincide.
El a recunoscut înfrângerea.
Rar te întâlneşti cu un muzician faimos pe stradă.
Ea l-a ameninţat pe el.
Tom și Mary s-au căsătorit în urmă cu trei ani.
Ce?
Unde este aeroportul?
Am găsit în cele din urmă soluția la problemă.
Sunt obosit. A fost o zi lungă.
Vă rog să chemaţi pompierii.
Am acceptat invitaţia lui.
Tom mi-a zis că nu se temea de Mary.
Vreau să plec în Japonia.
Am muncit mult azi.
Rock-ul este muzica preferată a tinerilor.
L-am ajutat în afacerea lui.
Rezultatele companiei în al patrulea trimestru s-au îmbunătăţit brusc faţa de cele ale perioadei precedente.
Câţi ani ai?
Copii nu trebuie sa ştie fiecare detaliu despre bugetul familiei.
Ieri a fost joi.
Trezeşte-te!
Juri să spui adevărul, tot adevărul, și numai adevărul?
Acela este un câine.
Eram încântaţi să auzim de succcesul lui.
El nu mai este singur.
Suntem obosiţi de discursul lui lung.
El a primit o sumă considerabilă de bani drept compensație pentru rănile suferite.
Conţinutul este afişat pe cutie.
Lasă-mă în pace.
Tu consumi mâncare.
Trist!
Focul s-a stins după ce pompierii au ajuns la casă.
Pot să-ți împrumut stiloul?
Unu, doi, trei, patru, cinci, șase, șapte, opt, nouă, zece.
Chris nu poate lucra dimineaţa.
Am primit scrisoarea dumneavoastră alaltăieri.
Eram acasă.
Vă mulțumim pentru a ne fi înştiinţat că imprimanta Model 600-J nu va fi disponibilă până pe 4 Mai 1997.
Îmi mai aduceţi una, vă rog?
Îl cunosc.
Produse straine au ajuns pe piata in cantitati mari.
Îmi place mult tenisul.
