Tipul ăla e plin de răutate.
Nu-i ușor să scapi de-un viciu.
Copilul se dovedeşte a fi obraznic.
Poți să crezi asta?
Herold a acceptat să se predea.
Bună seara.
Sunati la politie!
Bună dimineața.
Care este problema?
Pe tot parcursul zilei, el a fost în căutarea unei scrisori.
Nu-i uşor să scapi de un obicei rău.
Chemaţi poliţia!
