Nu judecați, ca să nu fiți judecați.
Vinul bucură inima omului.
Europa este un continent.
Îmi zic: „Mă voi urca în palmier şi-i voi apuca ramurile!“
Cine a făcut plăcinta asta?
Am tânjit toată noaptea, în patul meu, după iubitul inimii mele.
Unu plus doi egal trei.
Greaca nu e o limbă uşoară.
Nu tot ce-i este permis lui Jupiter îi este permis și unui bou.
Unu plus doi egal trei.
Pune-mă ca o pecete pe inima ta şi asemenea unui semn pe braţul tău! Fiindcă dragostea este puternică precum moartea.
Spune-ne, tu, cea mai frumoasă dintre femei, unde a plecat iubitul tău? Pe unde s-a întors iubitul tău, ca să-l căutam şi noi împreună cu tine?
Din plinătatea inimii vorbește gura.
Nu hainele îl fac pe călugăr.
Vă mulțumesc foarte mult! — Cu plăcere.
„A da” este divin, „a primi” este omeneşte.
Nu este bine ca omul să fie singur.
Și veți cunoaște adevărul, și adevărul vă va face liberi.
Te rog, ia o plăcintă.
Unu, doi, trei, patru, cinci, șase, șapte, opt, nouă, zece.
Pare să fie bolnav.
Întoarce-ţi ochii de la mine fiindcă mă tulbură!
Statura ta este asemenea palmierului, iar sânii tăi asemenea unor ciorchine.
Smochinii dau primele roade şi florile viilor îşi răspândesc parfumul.
Eu sunt a iubitului meu şi el mă doreşte pe mine.
Pare să fie bogat.
Am citit că preşedintele Braziliei este o femeie. Ea se numeşte Dilma.
Eşti atât de frumoasă, iubita mea, atât de frumoasă!
Este mai bine să asculți mustrarea înțeleptului decât cântecul nebunilor.
Ceea ce-i este permis lui Jupiter nu-i este permis și unui bou.
Eu sunt Isus, pe care-L prigonești.
Iubitul meu este alb şi rumen, unic între zeci de mii!
Orice ai face, fă-o cu prudență şi concentrându-te pe scopul final.
Arată-mi faţa ta şi lasă-mă să-ţi aud glasul, căci glasul tău este dulce, iar faţa ta este încântătoare!
Mi-ai fermecat inima cu o singură privire a ochilor tăi şi doar cu colierul de la gâtul tău.
Universul este un mister.
Acolo îţi voi dărui iubirea mea!
Avem papă.
Hristos a înviat, aleluia! - Adevărat a înviat, aleluia!
Ia cărticica și să o mănânce.
Te-am trezit sub măr.
Aici și acum.
Ura provoacă certuri, dar dragostea acoperă toate greşelile.
Eu văd casa.
Miere şi lapte se află sub limba ta.
Apele mari nu pot să stingă dragostea, râurile nu sunt în stare să o înece!
La mulți ani, dragă prietene!
Vino, iubitul meu, să mergem pe câmpie, să ne adăpostim noaptea în sate!
Câştigul celui drept este folosit pentru viaţă, dar venitul celui rău este folosit pentru păcat.
Cine este aceasta care se iveşte asemenea zorilor, frumoasă precum luna, pură precum soarele?
Ascultă, fiul meu, învăţătura tatălui tău şi nu părăsi îndrumarea mamei tale.
O inimă veselă ne face tineri.
Un fiu înţelept aduce bucurie tatălui său, dar un fiu prost îşi întristează mama.
Fericiți cei săraci cu duhul, căci a lor este împărăția cerurilor.
Să intre iubitul meu în grădina lui şi să-i mănânce fructele cele alese!
Abdomenul îi este fildeş lustruit, încrustat cu safire.
Un tablou este un poem fără cuvinte.
Zilele mele sunt ca o umbră care declină.
Mulțumesc!
Cum este crinul printre spini, astfel este iubita mea între fete.
Mâinile leneşe aduc sărăcie unui om, dar mâinile harnice îl îmbogăţesc.
Nimeni nu poate ști totul.
Pare să fie fericit.
Cei doi sâni ai tăi sunt ca doi cerbi tineri, ca gemenii unei gazele, care pasc între crini!
Pavel a fost născut în Roma.
