În Belfast există o stradă care se numeşte Madrid şi care se termină brusc în zidul Berlinului. Peretele constă într-o parte de cărămidă, alta de fier şi alta de oţel. Măsoară peste şapte metri înălţime şi se termină cu piroane şi sârmă ghimpată.
Universul este un mister.
“Economia îndepărtează cele două maluri ale Atlanticului”: astfel rezumă La Stampa consecinţele declaraţiilor recente ale lui Barack Obama potrivit cărora slabele perspective de creştere ale Statelor Unite sunt cauzate de proasta gestionare a crizei din zona euro.
Bună, ce faci?
Toate ființele umane se nasc libere și egale în demnitate și în drepturi. Ele sunt înzestrate cu rațiune și conștiință și trebuie să se comporte unele față de altele în spiritul fraternității.
Leii sunt în cușcă.
Greaca nu e o limbă uşoară.
Am citit că preşedintele Braziliei este o femeie. Ea se numeşte Dilma.
Mașina este galbenă.
La început a făcut Dumnezeu cerul şi pământul.
E asta armasar sau iapa?
Zilele de naștere sunt importante.
