Am luat cina la un restaurant.
Am dormit până la 7 şi jumătate.
Avem două fete și doi băieți.
Am luat micul dejun.
Am avut o vacanţă splendidă în Suedia.
Am amînat evenimentul.
Avem papă.
În Belfast există o stradă care se numeşte Madrid şi care se termină brusc în zidul Berlinului. Peretele constă într-o parte de cărămidă, alta de fier şi alta de oţel. Măsoară peste şapte metri înălţime şi se termină cu piroane şi sârmă ghimpată.
Eu locuiesc la parter.
Acasa consum multă bere.
Acum, să vedem un pic de entuziasm.
Pe mâine!
Pe mâine!
Îmi place brânza.
El a adoptat o metodă nouă.
Aladdin a găsit o lampă fermecată.
Aladdin a găsit o lampă fermecată.
Unele animale sunt foarte bune la cățărat.
Ei îi place salata de cartofi.
In final, nu este chiar aşa de rău.
Prietenului meu îi place înghețata de ciocolată.
Deci, care e problema?
Prietenului meu îi place înghețata de ciocolată.
Lui Mary îi place zăpada.
Moldova îmi va lipsi.
Nu îmi pasă de economie.
Îmi place să dorm.
Îmi place tenisul.
Îmi place zâmbetul tău.
Îmi place California.
Îmi place casa lor.
Îmi place lumina lumânărilor.
Îmi place să studiez limbi străine.
Tatălui meu îi place pizza foarte mult.
Îmi plac hamburgerii.
Îmi place brânza.
Iubesc golful.
Îmi place California.
Îmi place să călătoresc.
Nici eu nu am înțeles nimic.
Tu din nou?
La revedere, Sayoko!
Articolul 6. Preşedintele va conduce toate întâlnirile.
Lui Tom nu-i place cafeaua irlandeză.
Lui Tom îi place zăpada.
Atenție!
Îmi era tare sete și am vrut să beau ceva rece.
Pupici!
Bine. Și tu?
Bine ai revenit!
Bine ai revenit!
Betty nu poate deosebi binele de rău.
Un An Nou fericit!
Noapte bună, mamă.
Noapte bună.
Noapte bună.
Noapte bună. Vise dulci.
Paște fericit!
Poftă bună!
Bună seara.
Bună seara, ce mai faceți?
La mulți ani, dragă prietene!
Un weekend plăcut!
Salut tuturor!
Bună dimineața.
Bună dimineaţa, Mike.
Drum bun.
Înţelege fizica.
Înțeleg.
Pula mea!
Este zăpadă pe sol.
E cineva acasă?
Era un vânt puternic.
Întotdeauna e cineva care vorbeşte.
Ce oraș frumos!
Ce n-aş face ca să vă scot pe amândoi din încurcătură?
Ce vor părinții tăi de Crăciun?
Ce dezamăgire!
Ce ai făcut cu banii?
Ce fel de lucruri te întristează?
Sună-mă dacă ai nevoie de ajutor.
Cine cântă cântecul ăsta?
Cine cântă cântecul ăsta?
Cine caută găsește.
Cine vrea niște ciocolată caldă?
Cine vrea niște ciocolată caldă?
Cine este de serviciu astăzi?
Cine este politicianul tău preferat?
Cine joacă golf?
Cine a scris această scrisoare?
Cine vrea niște ciocolată caldă?
Cine vrea niște ciocolată caldă?
Cine vrea niște ciocolată caldă?
Chris nu poate lucra dimineaţa.
Bună, ce faci?
Salut.
Salut, Tom.
Este adevărat ceea ce spune.
Există excepții.
Sunt multe întrebări urgente.
Sunt o mulţime de locuri frumoase în Japonia.
Cum te numești?
Înțeleg.
Cu cine vorbesc?
Alerg în fiecare zi.
Alerg în fiecare zi.
Ce?
Ce vor părinții tăi de Crăciun?
De atunci, Uniunea a evoluat mult, transformându-se într-o piaţă unică imensă, cu o monedă comună, euro. Ceea ce a început ca o uniune strict economică a devenit o entitate cu activităţi în nenumărate domenii, de la ajutor pentru dezvoltare până la politica de mediu.
„A da” este divin, „a primi” este omeneşte.
Eu am decis să las școala.
Urăsc fasolea.
Urăsc chimia.
Trebuie să mă duc la culcare.
Trebuie să mă duc la culcare.
Am nevoie la toaletă.
Trebuie sa învăţ japoneza.
Trebuie să-mi pun ceasul înainte cu două minute.
Trebuie să vorbesc cu Tom.
Ea spune că va veni mâine.
Toți spun că eu semăn cu tatăl meu.
Din ce este făcut asfaltul?
Cu plăcere.
Tatăl meu ajunge de obicei acasă la șase.
I-am spus lui Tom să mă aștepte.
Trebuie să plecăm mai devreme sau mai târziu.
Trebuie să evacuăm.
Mâine este ultima zi de școală.
Mâine e sâmbătă?
Mâine va ploua.
Mâine va ploua.
Mâine, voi studia la bibliotecă.
Doarme ca un bebeluş.
Nu iese fum fără foc.
Unde e cartea mea?
Unde este telecomanda?
Unde este banca?
Unde cade accentul în cuvântul "Australia"?
Unde este aeroportul?
Unde e mașina mea?
Unde e mașina mea?
Unde este toaleta?
Unde cade accentul în cuvântul "Australia"?
Unde sunt pozele mele?
Unde sunt pozele mele?
Unde sunt?
Unde sunt ei?
Unde este Tom?
Ar trebui să-l ascultăm pe Tom.
Ar trebui să te lași de fumat.
Alb?
Alb?
Excelent!
Poftiți restul.
E deșteaptă cu-adevărat, nu-i așa?
E ieftin, nu-i aşa?
E ușor.
Ea este fericită.
El este fericit.
El este puternic.
Este gelos.
El trebuie să facă o alegere între obiecte.
El este responsabil pentru acest accident de mașină.
Hei! Vino aici, te rog!
El este vecinul meu, dar nu-l cunosc bine.
Este telefonul lui Tom.
Mi-e imposibil să-ți explic asta.
Ăsta e adevărul absolut.
Este mai puţin răbdător decât fratele său.
Emily a lăsat școala când avea șaisprezece ani.
Este foarte bolnav.
E foarte sexy.
A murit de pneumonie.
Ambele cuvinte pot fi folosite în funcție de libera alegere a utilizatorilor.
A venit ora somnului.
Asta-i pentru că ești fată.
Ăsta e perfect.
El a fost curajos.
Ei au fost norocoși.
E ridicol!
Încă eram acasă.
Am fost în munți.
Există stele fără număr în galaxie.
A fost obligată să renunţe la plan.
E timpul pentru ea să meargă acasă.
E trist.
E prea scump!
E prea scump!
E prea scump!
E prea scump!
E prea târziu ca să-ți ceri scuze acum.
E o zi frumoasă.
Este asta un lucru rău?
Asta e o cravată nouă?
Este o persoană agresivă.
El este o persoană bine informată.
Ea este o persoană foarte ciudată.
E o surpriză.
E o poveste vagă.
Este o floarea-soarelui.
El este un pictor.
El este un om căsătorit.
Este frumos astăzi.
Farragut a capturat New Orleans fără luptă.
Farragut a capturat New Orleans fără luptă.
Un An Nou fericit!
- Ai încredere în mine, a spus el.
În sfârşit e vineri.
În sfârșit!
În general, bărbaţii sunt mai înalţi decât femeile.
În general, bărbaţii sunt mai înalţi decât femeile.
Ianuarie, februarie, martie, aprilie, mai, iunie, iulie, august, septembrie, octombrie, noiembrie și decembrie sunt cele douăsprezece luni ale anului.
Eu i-am împrumutat lui maşina.
Iernile din Germania sunt reci.
Ochii de pisică sunt foarte sensibili la lumină.
Urșii hibernează pe timpul iernii.
„Mulțumesc.” — „Cu plăcere.”
Mulțumesc foarte mult!
Mulțumesc!
Mulțumesc.
„Mulțumesc.” — „Cu plăcere.”
"Mulțumesc pentru ajutor." "Pentru puțin."
- Vă mulțumesc pentru ajutor. - Cu plăcere.
Mulțumesc pentru explicație.
„Mulțumesc.” — „Cu plăcere.”
Uite, ninge!
Privitul la televizor este distractiv.
Mă uit cu fetita mea la televizor.
Are acces la informaţia înmagazinată.
Ai nevoie de protecţie.
Ai dormit bine?
Ai primit scrisoarea mea?
Tu ai un zâmbet frumos.
Ai o problemă cu asta?
El are multă experiență ca medic.
A pierdut trenul de la opt și jumătate.
Ai auzit de incendiul de ieri?
A tăiat coarda cu dinţii.
El a ţinut un jurnal în timpul călătoriei.
El are trei frați.
El a văzut tot.
Hei! Vino aici, te rog!
El a fost anesteziat.
Am iubit cartea aceea!
Am deschis cutia. Era goală.
Am nevoie de opiniile tale.
Am nevoie de ajutor!
Trebuie să vorbesc cu Tom.
Am cumpărat pâine proaspătă.
Eu am decis să las școala.
Am hotărât să scriu periodic articole în limba engleză.
Am dreptul să-mi sun avocatul.
Am 2 frați.
Am două pisici.
Am două cărți.
Am confecţionat o păpuşă pentru Anna.
Mi-am terminat prânzul repede.
Am fraţi.
Am internet pe telefonul meu.
Mi-am spălat tricoul.
Am citit că preşedintele Braziliei este o femeie. Ea se numeşte Dilma.
Am citit cartea.
Am mâncat caviar.
Sunt foarte flămând.
Am un apetit scăzut.
Am primit scrisoarea ta alaltăieri.
Mi-e sete.
Am un cont de Facebook.
Sunt mort de foame.
Sunt mort de foame.
Am o fiică.
Am un prieten.
Am o inimă.
Am un dicționar.
Am o pisică.
Am un vis.
Grupurile sanitare sunt la parter.
Copiii au plecat deja la școală.
Ieri a fost joi.
Ieri a fost marţi.
Japonezii trăiesc în armonie cu natura.
Cafeaua este amară.
Zgarda câinelui este roșie.
Calculatorul este nou.
Concertul va avea loc vara viitoare.
Nota de plată, vă rog.
Nota de plată, vă rog.
Dioxidul de carbon în sine nu este otrăvitor.
Fachirul s-a aşezat pe cuie cu mare uşurinţă.
Fierul este un metal foarte util.
Pisica este sub masă.
E adânc lacul?
Algoritmul meu are o rată de succes de 99%.
Copilul meu vrea să vorbească.
Numele meu complet este Ricardo Vernaut, Junior.
Numele meu este Emily.
Mă numesc Ricardo.
Numele meu este Tom.
Iubitul meu este jurnalist.
Porecla mea este Tom.
Modul in care se vorbește denotă proveniența socială a locutorului.
Zborul nostru a fost anulat.
Părinţii lor sunt mai în vârstă decât ai noştri.
Trecutul poate fi doar cunoscut, nu schimbat. Viitorul poate fi doar schimbat, nu cunoscut.
Gândirea este liberă.
Sărac nu e cel care are prea puțin, ci acela care vrea prea mult.
Aparatul lui foto este de trei ori mai scump decât al meu.
Băiatul vorbește cu bunicul său.
Raportul întâlnirii e gata.
Restaurantul este la parter.
Limba română este singura limbă neolatină în care articolul hotărît este postpus substantivului.
Sahara este un deşert vast.
Tăcerea era de nesuportat.
Noua lui carte va apărea luna viitoare.
Tango-ul este o exprimare verticală a unei dorinţe orizontale.
Timpul va spune.
Paltonul tău este foarte frumos.
Pisica ta este neagră.
Numele tău nu este Tom, așa-i?
Vântul s-a calmat.
Vântul s-a calmat.
Vinul a fost excelent.
În caz de incendiu, apăsați pe acest buton.
Pe ce linie pentru Boston?
În chimie, poate azotul să formeze o legătură simplă?
În general, bărbaţii sunt mai înalţi decât femeile.
Copiii noștri sunt la școală, unde sunt ai dumneavoastră?
Interesant.
Îmi place brânza.
Iubesc golful.
Îmi place California.
Îmi era tare sete și am vrut să beau ceva rece.
Înțeleg.
Înțeleg.
Trebuie să mă duc la culcare.
Trebuie sa învăţ japoneza.
Trebuie să vorbesc cu Tom.
Încă eram acasă.
Am fost în munți.
Mă uit cu fetita mea la televizor.
Trebuie să vorbesc cu Tom.
Am cumpărat pâine proaspătă.
Am 2 frați.
Am două pisici.
Am internet pe telefonul meu.
Am citit cartea.
Am mâncat caviar.
Sunt foarte flămând.
Mi-e sete.
Am un prieten care locuiește în America.
Am un prieten.
Am o inimă.
Am o pisică.
Am un vis.
L-am recunoscut.
Îl voi lua.
L-am văzut citind o carte.
Mănânc pâine.
Mănânc un măr.
Aştept ajutorul tău.
Numele meu este Emily.
Mă numesc Ricardo.
Mă cheamă Tom.
Mă conectez la internet aproape în fiecare zi.
M-am lovit la cot.
M-am simțit foarte fericit.
Nu înțeleg germana.
Nu înțeleg.
Eu nu-ți împărtășesc opinia.
Nu am nimic altceva de spus.
Nu am nimic de pierdut.
Nu am nimic de pierdut.
Nu am computer acasă.
Nu citesc cărți.
Nu l-am mai văzut de duminica trecută.
Nu am încredere în administrație.
Nu voi muri.
Nu pot vorbi franceza bine.
Nu vorbesc japoneza.
Nu vorbesc japoneza.
Nu vorbesc engleza atât de fluent ca Naomi.
Nu vorbesc engleza atât de fluent precum o face Naomi.
Eu nu cred că Tom este în Boston.
Nu voi pierde nimic.
Nu voi pierde nimic.
Nu pot trăi fără televizor.
Nu pot trăi fără televizor.
Nu cânt la pian.
Nu cânt la pian.
Nu voi tolera un astfel de limbaj.
Nu vreau să merg la școală.
Cred că mă duc la culcare.
Cred că va ploua în curând.
Cred că am tendinită.
Aș prefera să nu știu.
Eu știu numele său.
Eu sunt Isus, pe care-L prigonești.
M-am dus ieri la grădina zoologică.
Am mers la școală ieri.
M-am dus ieri la grădina zoologică.
Am mers la școală ieri.
Sunt competitiv.
Sunt curioasă.
Sunt Melanie.
Sunt foarte sărac.
Sunt serioasă.
Sunt serios.
Sunt obosită.
Sunt Tom Hunter.
Sunt Tom.
Eu sunt medic. Dumneavoastră?
Eu sunt zombi!
Eu sunt zombi!
Sunt un om liber.
Sunt un vegetarian care mănâncă tone de carne.
Eu sunt vegetariană.
Eu sunt vegetarian.
Sunt foarte bine.
Încerc să fiu fericit.
Te ador.
Te voi proteja.
Călătoresc mult.
Locuiesc în Moldova.
Vreau să locuiesc în Italia.
Vreau să trăiesc în Italia.
Vreau să merg în India.
Vreau să mănânc ceva.
Vreau să știu opinia ta.
Vreau să scriu o carte.
Vreau un masaj. Am nevoie să mă relaxez.
Vreau să trăiesc în Italia.
Mi-ar plăcea să te sărut.
Mi-ar plăcea să studiez la Paris.
Vreau friptură cu cartof copt.
Prețurile sunt competitive.
Românii din Transilvania vorbesc foarte rar.
Românii din Transilvania vorbesc foarte rar.
Jimmy e cu doi ani mai mic ca mine.
John a avut o ceartă violentă cu soţia sa.
Ken este fericit.
Ken joacă tenis?
Capitala Italiei este Roma.
Casa aceasta are grădină?
Micul dejun este gata.
Apa este rece.
Apa era albastră.
Apa nu este potabilă.
Șomajul este în creștere.
Aeroportul a fost închis din cauza ceţei.
Mulțimea a umplut sala.
Germania este în mijlocul Europei.
Germania este o ţară rece.
Marea majoritate sunt în favoarea proiectului.
Scrisoarea era între filele cărţii.
Lecția a doua este ușoară.
Ora nu începe până la opt și jumătate.
Mașina este galbenă.
Majoritatea nu au acceptat oferta.
Majoritatea nu au acceptat oferta.
Majoritatea copiilor urăsc școala.
Mama gătește în bucătărie.
Lipsa banilor este rădăcina tuturor relelor.
Lipsa banilor este rădăcina tuturor relelor.
Lipsa banilor este rădăcina tuturor relelor.
Sora mea cea mare practică fuga în fiecare zi.
Sora mea mai mare face jogging în fiecare zi.
Sora mea cea mică are doi copii, ceea ce înseamnă că am doi nepoți.
Muzica este o parte importantă din viața mea.
Zăpada este albă.
Maşinii noastre i se va termina benzina în 2 minute.
Școala noastră are 80 de ani.
Vaca noastră nu ne dă lapte.
Noaptea a fost atât de rece încât, atunci când m-am întors, eram aproape îngheţat.
Ploaia este un fenomen neobișnuit în această parte a țării.
Poliția a găsit bicicleta lui Tom.
Poliția a găsit bicicleta lui Tom.
Poliția a găsit bicicleta lui Tom.
Poliția a găsit bicicleta lui Tom.
Prima operetă românească a fost jucată la Iași în 1848.
Prima dată i-am văzut pe fotbaliștii români la Madrid.
Subiectul este de mare importanță.
Vă mulțumesc foarte mult! — Cu plăcere.
Revoluția a dus la o nouă eră.
Şcoala începe la opt treizeci?
Lecția a doua este ușoară.
Săptămâna s-a terminat.
Asemănarea este destul de vagă.
Sora lui George mi-a făcut niște sandvișuri.
Sora lui George mi-a făcut niște sandvișuri.
Camera tatălui meu e foarte mare.
Piciorul lui rănit a început să sângereze din nou.
Mașina este galbenă.
Mașina este galbenă.
Autorul e brazilian.
“Economia îndepărtează cele două maluri ale Atlanticului”: astfel rezumă La Stampa consecinţele declaraţiilor recente ale lui Barack Obama potrivit cărora slabele perspective de creştere ale Statelor Unite sunt cauzate de proasta gestionare a crizei din zona euro.
Economia Japoniei este încă stabilă.
Educația în lume mă dezamăgește.
Endorfinele sunt analgezice naturale.
Îl cunoști pe tatăl lui?
Sunteţi din Hokkaido, nu-i aşa?
Ești bogat, nu-i așa?
Ea lucrează la școală.
Ea nu mă ascultă.
Electronul este o particulă elementară.
Pantofii mei sunt uzați.
Persoanele sub 18 ani nu se pot căsători.
Ei îi place salata de cartofi.
Epistemologia este o ramură a filozofiei.
Cele patru anotimpuri din an sunt primăvara, vara, toamna și iarna.
A făcut-o pentru sora lui.
L-am vândut și mi-am plătit datoria.
L-am vândut și mi-am plătit datoria.
Iarna vine în curând.
Iarna a fost rece și cu ninsori.
Îl voi face prin toate mijloacele posibile.
Îl voi lua.
Lordul Ashburton avea o soţie americană.
Ei știu cum să repare calculatoare.
Ei vând pește și carne.
Ei au vrut ceva mai bun.
Sper.
Studiul filozofiei aparţine disciplinelor umanistice.
Auzul unui câine e ultrasensibil.
Biroul domnului Popescu este la etajul zece.
Înţelege fizica.
Este gelos.
El este vecinul meu, dar nu-l cunosc bine.
Este mai puţin răbdător decât fratele său.
A murit de pneumonie.
El a fost curajos.
El este o persoană bine informată.
El este un pictor.
El este un șofer de taxi.
El este un om căsătorit.
El are multă experiență ca medic.
El are trei frați.
El are un câine.
El a văzut tot.
El m-a lăsat să lucrez în acel birou.
A murit de pneumonie.
Nu fumează și nu bea vodcă.
El scrie o scrisoare.
Pare tânăr.
El s-a mutat în cartierul meu.
Doarme ca un bebeluş.
Și el învață chineza.
Zilele săptămânii sunt: luni, marți, miercuri, joi, vineri, sâmbătă, duminică.
El a ţinut un jurnal în timpul călătoriei.
Uniunea Europeană a fost creată cu scopul de a se pune capăt numărului mare de războaie sângeroase duse de ţări vecine, care au culminat cu cel de-al Doilea Război Mondial.
Universul este un mister.
Dar cafeaua nu este bună.
Mănânc pâine.
Mănânc un măr.
Mary este nepoata mea.
Mary este o studentă promiţătoare.
Mary lucrează pentru un ONG în Africa.
Mary nu are soț.
Mary nu are un soț.
Mai bine mai târziu decât niciodată.
Staţi acolo!
Mama mea este în bucătărie.
Mama mea e o foarte bună bucătăreasă.
Soţia mea a născut un copil săptămâna trecută.
Sora mea a fost o femeie foarte frumoasă.
Sora mea nu studiază acum.
Sora mea nu studiază acum.
Sora mea nu studiază acum.
Aştept ajutorul tău.
Mă numesc Emily.
Numele meu este Emily.
Mă numesc Ricardo.
Mă cheamă Tom.
Mă conectez la internet aproape în fiecare zi.
Mă cunoști?
Dați-mi, vă rog, un bilet pentru spectacolul de la ora șapte.
Mă faci să visez.
Mă doare fundul.
Mi-a prezentat-o pe fiica sa.
Moldova îmi va lipsi.
Mi-e dor de tine mult, iubita mea.
Fratele meu mi-a dat o pereche de blugi.
Bunicul meu a trecut de suta de ani.
Tatăl meu a murit de cancer.
Tatăl meu este întotdeauna ocupat.
Tatăl meu e departe de casă.
Tatăl meu are cincizeci de ani.
Tatăl meu are multe cărți.
Tatăl meu lucrează pentru o bancă.
Tatăl meu a murit de cancer.
Unchiul meu a murit de cancer.
Îmi place să merg cu trenul.
Îmi place mai mult cafeaua.
Îmi place să dorm.
Îmi place să joc tenis.
Îmi place să mă uit la televizor.
Îmi place jazzul.
Îmi place rockul.
Îmi place tenisul.
Îmi place zâmbetul tău.
Îmi place California.
Îmi place ciocolata.
Îmi place fizica şi îmi place matematică chiar mai mult.
Îmi place limba occitană.
Îmi place casa lor.
Îmi place lumina lumânărilor.
Îmi place muzica pop.
Îmi place foarte mult munca mea.
Îmi place mult viaţa de la oraş.
Îmi place să vorbesc limba velșă.
Îmi place să vorbesc limba velșă.
Mi-ar plăcea să merg la plajă cu tine, dar astăzi nu am timp.
Aş vrea să am o maşină.
Mi-ar plăcea să cumpăr un Picasso.
Mi-ar plăcea să joc tenis.
Vreau să vizitez New York-ul.
Îmi place să cânt la pian.
Îmi place să fac pianul să sune.
Îmi place să călătoresc.
Mă simt fericit când sunt cu tine.
Întotdeauna mi-au plăcut mai mult personajele misterioase.
În timp ce tăiam cepele, mi-au dat lacrimile.
Mulțumesc frumos.
A murit de pneumonie.
Începând cu anul 1950, ţările europene încep să se unească, din punct de vedere economic şi politic, în cadrul Comunităţii Europene a Cărbunelui şi Oţelului, propunându-şi să asigure o pace durabilă.
Nervos? Eu? Nu!
Nimănui nu-i place războiul.
Nimeni nu a venit să mă ajute.
Nimeni nu gândește așa.
Nimeni nu m-a ajutat.
Nimeni nu mă poate ajuta vreodată.
Nimeni nu poate rezolva această problemă.
Nimeni nu mă poate ajuta vreodată.
Ninge la Paris.
Ninge afară.
Va ninge la noapte?
A nins cu zilele.
Nick nu trebuie să vină la biroul meu.
Nick nu trebuie să vină la biroul meu.
Nimic nou sub soare.
Nimic special.
Avem două fete și doi băieți.
Am luat micul dejun.
Am avut o vacanţă splendidă în Suedia.
Trebuie să plecăm mai devreme sau mai târziu.
Trebuie să vorbim.
Ar trebui să-l ascultăm pe Tom.
A nu se deschide înainte de oprirea trenului.
Nu am avut idee că nu poţi înota.
Nu înțeleg germana.
Nu înțeleg.
Cu plăcere.
Nu iese fum fără foc.
Nu sunt speranțe pentru tine.
Nu înțeleg.
Nu cunosc numele lui.
Nu e vina mea!
Nu este uşor să vorbeşti engleza.
Nu fumează și nu bea vodcă.
Ea nu are permis de conducere.
Nu am nimic altceva de spus.
Nu am nimic de pierdut.
Nu am nimic de pierdut.
Nu am computer acasă.
Nu am pisică.
Nu contează ce a spus ea.
Nu citesc cărți.
Nu l-am mai văzut de duminica trecută.
Ea nu mă ascultă.
Nu îmi pasă de economie.
Nu îmi place să studiez verbe neregulate.
Nu îmi place primăvara.
Nu îmi place şcoala.
Nu îmi place acest aparat fotografic.
Nu îmi place acest ceas.
Nu mă tenta.
Nu voi muri.
Nu pot vorbi franceza bine.
Nu vorbesc japoneza.
Nu vorbesc japoneza.
Nu vorbesc engleza atât de fluent ca Naomi.
Nu vorbesc engleza atât de fluent precum o face Naomi.
Eu nu cred că Tom este în Boston.
Nu voi pierde nimic.
Nu voi pierde nimic.
Nu pot să beau alcool.
Nu pot trăi acel fel de viață.
Nu o lua ad litteram!
Nu poţi să-l amâni pe mâine?
Nu pot întelege ce s-a întâmplat.
Nu lăsa pe mâine ce poţi face poimâine.
Nu te așeza pe banca aceea.
Nu suntem la cinema.
Nu știi niciodată ce se va întâmpla.
Eu nu știu.
Nu sunt ocupat acum.
Nu am putut dormi din cauza căldurii.
Nu sunt artist. N-am avut niciodată talent pentru asta.
Nu cânt la pian.
Nu cânt la pian.
Nu te iubesc.
Nu te așeza pe banca aceea.
Nu voi tolera un astfel de limbaj.
Nu vreau să merg la școală.
Nu vreau ca țara mea să devină membru al Uniunii Europene.
Nu vreau să fiu văzut în compania lui.
Nu vreau să fiu văzut în compania lui.
Nu, sunt obosit.
Nimic nou sub soare.
Nimic special.
Uraşte morcovii.
Urăsc zăpada!
Azi e vineri.
Astăzi vremea e frumoasă.
Astăzi ninge.
Astăzi sunt on-line.
Fiecare generaţie râde de obiceiurile trecute, dar urmează cu religiozitate pe cele noi.
Orice minut contează.
Fiecare persoană contează.
Fiecare bărbat are defectele sale.
Sunt căsătorit acum.
Pavel a fost născut în Roma.
Parisul este cel mai frumos oraș din lume.
Vorbiți engleză?
Nu este uşor să vorbeşti engleza.
Nu este uşor să vorbeşti engleza.
Vorbiți engleză?
Vorbeşti chineza?
Vorbeşti turca?
Vorbești engleză?
Vorbiți italiană?
Vorbești italiană?
Vorbesc araba.
Crezi că-s urâtă?
Crezi că-s urât?
Cred că mă duc la culcare.
Cred că tu trebuie să pleci acum.
Cred că e furios.
Cred că va ploua în curând.
Cred că e furios.
Cred că am înţeles.
Cred că am tendinită.
De ce ai nevoie de un nou televizor?
De ce ai nevoie de un nou televizor?
De ce ai cumpărat flori?
De ce este cerul albastru?
De ce este zăpada albă?
De ce nu?
De ce crezi că animalelor le e frică de foc?
De exemplu, ne lipseşte opţiunea "doar cu acest grup de cuvinte".
Vă rugam să așteptați treizeci de minute.
Te rog, așază-te aici și așteaptă.
Vă rog.
Perfect!
Pentru Dumnezeu!
Te rog, așază-te aici și așteaptă.
Vă rog.
Picasso este un artist celebru.
Picasso este un artist celebru.
Adu-mi o găleată cu apă.
Avem un câine și o pisică.
Pot să pun o întrebare?
Pot vorbi cu tine afară pentru un moment?
Poți să-mi dai sarea?
Poţi să îmi coşi aceşti nasturi?
Aș prefera să nu știu.
Roagă-te şi munceşte.
Cu plăcere.
Te rog.
Vă rog.
Domnișoarele primele!
Probabil nu.
Interzic fumatul în camera mea.
Tu poți să citești această carte.
Poți răspunde.
Poți scrie în orice limbă care dorești. Pe Tatoeba, toate limbile sunt egale.
Care este numele tău de familie?
Care este leguma ta preferată?
Când veți merge în România, o să vedeți mai multe.
Când încep?
Când vor da ei un concert?
Când încep?
Când încep?
Cât costă?
Cât costă ceasul acesta?
Care este populaţia acestui oraş?
Asta e o cravată nouă?
Asta-i pentru că ești fată.
Această bere conţine 5 % alcool.
Această bere conține 5% alcool.
Clasa aceasta conţine patruzeci de elevi.
Acesta e sfârșitul.
Asta este scrisoarea pentru prietenul meu.
Aceasta este o întrebare importantă.
Această fabrică produce piese auto.
Această nava se duce la Vancouver.
Fata asta și-a schimbat înfățișarea.
Acest trandafir este foarte frumos.
Acest drum duce la Hong Kong.
Maşina asta veche e tot timpul stricată.
Aceste prune sunt coapte.
Aceste cărți sunt noi.
Acest bilet permite intrarea a două persoane.
Acesta este computerul meu.
Aceasta este o carte.
E asta armasar sau iapa?
E asta armasar sau iapa?
Aceasta este o rază ultraroşie.
Luna asta de septembrie a fost foarte ploioasă.
Acest televizor e greu.
Acest bărbat e doctor.
Încetineşte sau iei amendă.
Cine râde la urmă, râde mai bine.
Roosevelt and Willkie au discutat despre situație.
Ei știu cum să repare calculatoare.
Sankt Petersburg este un oraș rusesc.
Știi cine l-a ucis pe Tom?
Ești genul meu.
Tu ești cel mai înalt.
Ești bolnav!
Tu eşti prietenul meu.
Sunteți ocupată?
Eşti ocupat?
Ești un înger!
Ești o fată drăguță.
Ești un laș.
Pare tânăr.
Din ce în ce mai mulţi oameni promiteau să-l susţină.
Fără el n-aș fi putut face asta.
Dacă plouă diseară, nu plec de acasă.
Dacă un bogat înţelege o persoană flămândă? Asta depinde de accent!
Ne grăbim.
Suntem în război.
Suntem foarte interesați.
Toți ne-am născut nebuni.
Da, cu plăcere.
Da.
Ești bolnav!
Sunteți bolnavi!
El s-a mutat în cartierul meu.
Simina cheltuiește mulți bani pe țigări.
Se simțea obosit.
Eu știu numele său.
Doar șaisprezece la sută din profesorii acestei școli sunt femei.
Am trecut pe la libărie și mi-am cumpărat o carte interesantă.
M-am dus ieri la grădina zoologică.
Am mers la școală ieri.
Am trecut pe la libărie și mi-am cumpărat o carte interesantă.
M-am dus ieri la grădina zoologică.
Am mers la școală ieri.
Am crescut cu Tom.
Sunt curioasă.
Sunt epuizat.
Sunt fericit.
Eu sunt liber.
Sunt singurul?
Sunt Melanie.
Sunt mai bun decât el.
Sunt foarte curioasă.
Sunt foarte curios.
Sunt foarte sărac.
Sunt nebună să amân.
Sunt mereu sub presiune.
Sunt serioasă.
Sunt serios.
Sunt doar lacrimi de crocodil.
Sunt doar lacrimi de crocodil.
Am fost în Italia de mai multe ori.
Sunt Tom Hunter.
Sunt Tom.
Sunt trist.
- Sunt profesor. - Şi eu sunt.
Eu sunt zombi!
Eu sunt zombi!
Sunt un băiat timid.
Sunt traducător.
Sunt un om liber.
Sunt un vegetarian care mănâncă tone de carne.
Eu sunt vegetariană.
Doarme ca un bebeluş.
Fii atent!
Iarăși plouă.
Diseară mergem la biserică.
Sunt foarte bine.
Sunt cu tine.
Eu dorm. Întoarce-te mâine.
Încerc să fiu fericit.
Și el învață chineza.
Soţia sa este franţuzoaică.
Tatoeba nu este o școala — este o universitate!
Te ador.
Te iubesc foarte mult.
Ți-am spus să stai în mașină.
Îţi voi da o zi să te gândeşti la asta.
Ai vrea să vii?
Te rog, nu plânge.
Te voi proteja.
Tom avea intenţia să meargă iar la Boston.
Tom știe numele câinelui Mariei.
Tom o știe pe Mary foarte bine.
Tom a ajuns acasă la 2:30.
Tom e arogant.
Tom este mândru de Maria.
Cred că Tom este ori homosexual ori bisexual.
Tom este nerăbdător, nu-i aşa?
Tom este interesant.
Tom și Mary au aproape aceeași înălțime.
Tom și Mary sunt buni prieteni.
Tom este matur.
Tom este foarte nefericit cu tine.
Tom este foarte obosit.
Tom a murit iarna trecută.
Tom a murit când avea șaptezeci de ani.
Tom era impresionat.
Tom a fost afară toată ziua.
Tom este un intelectual.
Tom i-a cumpărat câteva flori lui Mary.
Tom i-a dat lui Mary un dolar.
Tom a spus că autobuzul lui a întârziat.
Tom a părăsit-o pe Mary pentru o altă femeie.
Tom s-a căsătorit cu o fată bogată din Boston.
Tom are trei milioane de dolari la bancă.
Tom are trei nepoți.
Tom are un card de donator de organe în portofelul său.
Tom are un avion privat.
Toma a trăit în Boston pentru aproape zece ani.
Tom a părăsit-o pe Mary pentru o altă femeie.
Tom mănâncă prea multă mâncare nesănătoasă.
Tom mi-a făcut o favoare.
Tom a murit când avea șaptezeci de ani.
Tom nu locuiește cu Mary.
Tom nu are nevoie de ajutorul lui Mary.
Tom nu a călătorit niciodată peste hotare.
Tom nu știe.
Tom nu-mi va împrumuta banii de care am nevoie.
Tom nu locuiește cu Mary.
Tom știe că Mary a plecat la Boston.
Tom știe cine e Mary.
Tom pare a fi ocupat mai tot timpul.
Tom pare obosit.
Tom s-a căsătorit cu o fată bogată din Boston.
Tom este bine.
Tom joacă cărți cu Mary.
Revin.
Traducător, trădător.
Prea târziu.
Unde munceşti?
Ai nevoie de protecţie.
Tu ai un zâmbet frumos.
Ai o problemă cu asta?
Vorbeşti chineza?
Vorbeşti turca?
Vorbești italiană?
Crezi că-s urât?
Poți răspunde.
Ești mândru de tatăl tău?
Tu eşti prietenul meu.
Tu ești cel mai înalt.
Ești bolnav!
Tu eşti prietenul meu.
Ești mândru de tatăl tău?
Ești un laș.
Toate drumurile duc la Roma.
Toți știu legea.
Toate ființele umane se nasc libere și egale în demnitate și în drepturi. Ele sunt înzestrate cu rațiune și conștiință și trebuie să se comporte unele față de altele în spiritul fraternității.
Totul sau nimic.
Unul din degetele lui Tom s-a rupt.
O promisiune e o promisiune.
O săptămână are șapte zile.
O cafea, vă rog.
O cafea, vă rog.
Un om a scris istoria.
Într-o zi voi alerga ca vântul.
O imagine valorează cât o mie de cuvinte.
Leul este puternic.
Unul dintre cuțite lipsește.
Unu, doi, trei, patru, cinci, șase, șapte, opt, nouă, zece.
O masă fără vin este ca o zi fără soare.
Un ceai cu lămâie, vă rog.
Un ceai cu lămâie, vă rog.
Folosim transportul public.
Merge la şcoală pe jos.
În fiecare duminică după-amiaza merg la târg.
Merg la servici în fiecare zi.
Să vedem ce se va întâmpla.
Ei vând pește și carne.
Eu voi veni.
Călătoresc mult.
Trăiască haosul!
Vreau să locuiesc în Italia.
Vreau să trăiesc în Italia.
Vreau să merg în India.
Vreau sa-ți povestesc ceva ciudat.
Mi-ar plăcea să îmi cunoşti părinţii.
Vreau să mănânc ceva.
Vreau să mănânc ceva.
Vreau să știu opinia ta.
Vreau să scriu o carte.
Vreau o barcă care să mă ducă departe de aici.
Vreau un masaj. Am nevoie să mă relaxez.
Vreau să trăiesc în Italia.
Ei au vrut ceva mai bun.
Aş vrea să am o maşină.
Mi-ar plăcea să te sărut.
Aș vrea aspirină.
Vreau friptură cu cartof copt.
