A bătut ușor la ușă.
Acea clădire este școala noastră.
Aceasta este casa lui Tom.
Aceasta este Copacabana!
Aceasta este familia ta?
Aceasta este mama mea.
Aceasta este o carte.
Această melodie este foarte îndrăgită în Japonia.
Această mobilă nu e de vânzare.
Acesta e fiul meu.
Acesta este computerul meu.
Acesta este tatăl lui Tom.
Acest animal se hrăneşte cu carne.
Acesta nu este zahăr.
Acest bărbat e doctor.
Acest câine nu este de vânzare.
Aceste cărți sunt noi.
Acest material pentru ambalare asigură termoizolarea.
Acest motan nu e de vânzare.
Acest site este inutil.
Acest tren opreşte în fiecare staţie.
A cui e cartea?
Acum că ești adult nu trebuie să te porți ca un copil.
Acum sau niciodată.
Acum surioara mea citește cărți bine.
Adaugă cât mai multe condimente.
A fi la cuțite.
A fi sau a nu fi.
A fost bun?
A fost un șoarece.
Ah, împiedicatule!
Ai avut destul timp.
Aici nu este așa de frig ca în Alaska.
Aici și acum.
Ai cui sunt studentii?
Ai două cărți?
Ai găsit asta pe Internet?
Ai gene bune.
Ai ieșit aseară?
Ai ieșit aseară?
Ai multe cărți.
A încercat să se sinucidă.
Ai o mașină?
Ai o mașină?
Ai timp să iei prânzul cu mine?
Ai un iubit?
Ai un iubit?
Ai un minut?
Ai un prezervativ?
Ai WhatsApp?
Albul mută şi câştigă.
Al cui e scaunul?
Ale cui sunt cărțile?
Ambele cuvinte pot fi folosite în funcție de libera alegere a utilizatorilor.
Am cel mai lung păr din clasă.
Am citit că preşedintele Braziliei este o femeie. Ea se numeşte Dilma.
Am citit că preşedintele Braziliei este o femeie. Ea se numeşte Dilma.
Am citit toată cartea într-o seară.
Am diaree.
Am dormit doar două ore.
Am două cărți.
Am dreptul să-mi sun avocatul.
Am fost ocupat.
Am fraţi.
Am găsit un bilet pe birou, dar nu știu al cui este.
Am încercat să-l oprim.
Am internet pe telefonul meu.
Am intrat în clasă.
Am învățat multe.
Am muncit mult azi.
Am o fiică.
Am păşit încet, ca să nu mă audă.
Am picioarele reci.
Am primit o scrisoare în limba franceză săptămâna trecută.
Am primit scrisoarea dumneavoastră alaltăieri.
Am primit scrisoarea ta alaltăieri.
Am trecut pe la libărie și mi-am cumpărat o carte interesantă.
Am trei surori. Una este asistentă medicala iar celelalte doua - studente.
Am uitat să opresc televizorul înainte de a ma duce la culcare.
Am un card de credit.
Am un card de credit.
Am văzut o bătaie.
Anna este o fetiță.
Apa este rece.
Aparatul lui foto este de trei ori mai scump decât al meu.
Aprilie este a patra lună a anului.
Arată ceasul tău ora exactă?
Are părul scurt.
Articolul exprimă opinia personală a autorului.
Asa-i la tara.
Aş dori să dau un telefon în Japonia.
Aș dori să fiți oaspeții mei în această seară.
Aş dori să telefonez în Japonia.
Aşi dori să merg cu dumneavoastră.
Asta deja nu se mai folosește în sens figurat.
Ăsta e un autobuz sau o mașină?
Asta e vina ta.
Ăsta nu-i al meu.
Asta nu-i a mea.
Asta nu-mi aparține.
Astăzi nu sunt liber.
Aștept trenul.
Astfel de oameni mă calcă pe nervi.
Aș vrea să merg la grădina zoologică.
Atacantul a marcat un gol în prelungirile primei reprize.
Ați fost vreodată în Hawaii?
Ați mâncat deja plăcinta?
Ați putea să îmi faceți o rezervare?
Atitudinea mea față de el s-a schimbat.
Au cumpărat o casă cu piscină.
Auldey este o marcă chinezească.
Autorul e brazilian.
Avem nevoie de ajutorul tău!
Avem nevoie de ajutorul vostru!
Avem papă.
Aveți copii?
Aveti cumva un cutit?
Aveti mersul trenurilor?
Aveţi o bicicletă?
Avionul a decolat la ora nouă fix.
Avionul decolează la 17:30.
Azi e sâmbătă.
Baftă la examen!
Băiatul merge la școală.
Bărbatul era beat criță.
Bărbatul se îmbătase ca un porc.
Beau lapte.
Beton!
Bine ai venit!
Bine ați venit!
Bine, Tom, dar asta e o josnicie!
Biroul domnului Popescu este la etajul zece.
Biroul lui este la etajul opt.
Bună, ce faci?
Bună dimineața la toată lumea.
Bună dimineața!
Bună dimineața.
Bună dimineața.
Bună seara, ce mai faceți?
Bună seara.
Bună ziua!
Bună!
Bună!
Câinele dumneavoastră mușcă?
Câinii au lătrat toată noaptea.
Câinii sunt în grădină.
Calculatorul este nou.
Când este ziua ta?
Când este ziua ta?
Când s-a întors el?
Când vine vorba de gătit, nimeni nu mă întrece.
Care acoperiș este verde?
Care e adresa ta de acasă?
Care e adresa ta de acasă?
Care e numărul tău de telefon?
Care e numărul tău de telefon?
Care e numele tău complet?
Care este sărbătoarea ta preferată?
Care școală este cea mai bună?
Cât costă?
Cât de albastru este cerul!
Câte documente trebuie să traduci?
Cât este ora?
Cât este ora?
Câte zile îți ia de obicei, ca să ajungi acolo?
Cât mai aveți de lucru?
Cât vă datorez?
Ce ai de gând să faci cu acești bani?
Ce ai pe sub bluză?
Ce am făcut?
Ce bine e aici.
Ce carte citești?
Ce carte citești?
Ce casă mare ai!
Ce cercetează un sovietolog?
Ce distanţă este de la aeroport până la hotel?
Ce doriți?
Ce e pe masă?
Ce este tatăl lui?
Ce făceai?
Ce fac? Încerc să dorm!
Ce gătiți?
Ce-i cu tine de nu-nţelegi?
Ce înseamnă semnul acesta?
Ce îți place la ea?
Cel care, mai ieri, socotea că îndrumă, conduce — se pomeneşte dintr-o dată întins ţeapăn într-o cutie de lemn, iar cei din jur, dîndu-şi seama că nu mai e bun de nimic, îl ard într-un cuptor.
Cel puțin ce fel de păr avea ea? Ce tunsoare? -- N-am acordat atenție.
Ce muncă vrei să faci?
Ce n-ai înţeles?
Ce nu înţelegi?
Ce oraș frumos!
Ce oraș frumos!
Ce părere aveți despre asta?
Ce pasăre frumoasă!
Ce plănuiți să faceți în vacanța de Anul Nou?
Ce să fac mai departe?
Ce s-a'ntâmplat?
Ce studiază un sovietolog?
Ce sunt ei?
Ce vei face acum?
Ce vrei să iei?
Ce vrei să muncești?
Ce vreme е azi?
Ce?
Cine este acasă?
Cine seamănă vânt va culege furtună.
Circumstantele nu mi-au permis sa va ajut.
Citesc cărți.
Clădirea s-a surpat acum trei ani.
Clădirea se poate prăbuși în orice moment.
Coca-Cola conține cafeină?
Comparată cu a ta, maşina mea este mică.
Copiii mei îmi sunt lucrul cel mai de preț.
Cred că examenele ruinează educația.
Cred că trebuie să luăm o decizie.
Cu bine!
Cu cine vorbesc?
Cu cine vorbește ea?
Cum arată ea?
Cum este clima în țara ta?
Cum spui...?
Cum te numești?
Cum te simți?
Cum vă numiți?
Cum vă permiteți!
Cum vă place cafeaua, cu sau fără zahăr?
Cu plăcere.
Cu plăcere.
Cu toate acestea nu voi ști dacă a venit sau nu.
Dacă îi spun mamei, se va îngrijora, așa că nu cred că îi voi spune.
Dacă mâine va ploua, eu nu voi veni.
Dacă pui un pisoì între două balene, o sā-i fie cald.
Da, înțeleg. Mulțumesc.
Da, înțeleg. Mulțumesc.
Dă-mi cuţitul să tai acest cablu.
Da.
De ce este zăpada albă?
De ce iepurii au urechi lungi?
De ce nu mâncați legume?
De ce nu?
De ce vrei să vinzi această mobilă?
De dimineață până seară el nu face nimic altceva decât să se plângă.
Delfinii şi balenele nu sunt peşti.
Deocamdată nu pot dezvălui această informație.
Deși este bogat, nu este fericit.
De unde va cunoasteti?
Doctorul Smith are mulți pacienți.
Domnul Tanaka nu este momentan în biroul său.
Doresc să fac ceva.‎
După noi, potopul.
Du-te înapoi la locul tău.
Ea a fost crescută în Franța.
Ea a fost sedusă de el.
Ea a fost una dintre cele mai frumoase fete.
Ea a refuzat să comenteze.
Ea crede că el este nevinovat.
Ea este soția mea.
Ea gătește pentru el.
Ea merge săptămânal la cinema.
Ea mi-a trimis telegramă urgentă.
Ea niciodată nu a ascultat de sfaturile mele.
Ea nu știe nici să citească, nici să scrie.
Ea nu vorbește niciodată despre asta.
Ea poate cânta la pian foarte bine.
E asta armasar sau iapa?
E atmosfera vesela aici.
Ea trăiește dintr-o pensie mică.
Ea trăiește pe picior mare.
Ea vrea să vorbească.
E bine aici.
E cel mai bun jucător din echipa noastră.
E foarte sexy.
E frig.
Ei aparțineau clasei de mijloc.
Ei au fost norocoși.
Ei dorm ca bebeluși.
Ei îi place muzica foarte mult.
Ei îi place salata de cartofi.
Ei nu înțeleg.
Ei nu pot mânca carne pentru că sunt vegetarieni.‎
Ei sunt în bucătărie.
Ei sunt nepoții mei.
El a lovit cu palma.
El are maxim 100 dolari.
El are mulți bani.
El are o nouă prietenă.
El are părul lung.
El are un fiu?
El a traversat strada.
Elena este secretară, nu-i așa?
El este fiul meu.
El este un erou.
El este un om cu multă experiență.
El este un șofer de taxi.
El începe să creadă.
El înoată bine.
El merge la bibliotecă pentru a citi cărți.
El mi-a telefonat.
El nu a îndreptăţit aşteptările.
El nu este capabil să ia o decizie.
El nu mai are casă!
El nu mai are de lucru.
El nu mai locuiește acolo.
El nu poate să facă asta.
El nu ştie aproape nimic despre acest animal.
El nu știe prea multe despre acest animal.
El pare foarte obosit.
El plimbă câinele în fiecare dimineaţă.
El poate să înoate repede.
El predă arabă în SUA.
El s-a bucurat, când a auzit de succesul ei.
El scrie o scrisoare.
El știe tot.
El trebuie să aibă în jur de patruzeci de ani.
El trebuie să facă o alegere între obiecte.
El vorbește engleză bine.
El vorbește nu doar engleză, ci și japoneză.
Emily a scris o scrisoare.
Engleza lui este mai bună decât a mea.
Este adevărat?
Este aproape șapte. Trebuie să mergem la școală.
Este cu câțiva ani mai tânăr ca mine.
Este degradant pentru ei.
Este deja ora nouă.
Este foarte bolnavă.
Este frumoasă.
Este important să asculți cu atenție.
Este interzis să umbli gol prin hotel.
Este mai slab decât mine la învăţătură.
Este o idee excelentă.
Este o întrebare dificilă.
Este o limbă dificilă.
Este o zi ploioasă.
Este secret.
Este telefonul lui Tom.
Este tocmai cartea pe care o căutam.
Este un caz extrem.
Este un secret?
Ești din Kyoto?
Ești fericită?
Ești fericit?
Ești fiica mea.
Ești frumoasă.
Ești genul meu.
Ești student?
Ești un înger!
Eu am burtă de bere.
Eu am câștigat medalia de aur.
Eu am trei câini.
Eu dorm. Întoarce-te mâine.
Eu fac toată treaba.
Eu i-am cumparat o maşină nouă.
Eu încă nu am mâncat.
E ultimul răcnet.
Eu mă duc la magazin.
E un sat.
Eu numai ce-am văzut blogul dumneavoastră - el pare interesant.
Eu nu mănânc miezul mărului.
Eu nu știu.
Eu refuz.
Eu sunt fiica ta.
Eu sunt fiul tău.
Eu sunt vegetariană.
Eu sunt vegetariană.
Eu trăiesc într-un oraș.
Eu voi merge la plajă.
E veselie mare aici.
Evrica!
Excelent!
Excelent!
Există excepții.
Există zbor direct din Tokio spre Londra.
Fă cum zice el.
Fără el n-aș fi putut face asta.
Fata a spart fereastra.
Fata mi-a zâmbit.
Fie că îți place sau nu, trebuie să faci asta.
Fratele meu lucrează la o stație de benzină.
Fratele meu mai mare știe să conducă mașina.
Găinile sunt în coteț.
Gara este în apropiere.
Gara nu este departe de aici.
Grăbește-te, Tom!
Greaca nu e o limbă uşoară.
Hai, nu te prosti.
Hai să ne uităm.
Heather mă crede.
Hoţul a spart lacătul.
Ia-mă cu tine.‎
Ianuarie, februarie, martie, aprilie, mai, iunie, iulie, august, septembrie, octombrie, noiembrie și decembrie sunt cele douăsprezece luni ale anului.
Iarăși plouă.
Iarna asta este caldă.
Iarna soarele apune mai repede.
Idiot!
Ieri a fost joi.
Ieri a fost marţi.
Îi datorez lui 100 dolari.
- Îi place muzica. - Și mie.
Îl cunoșteați de mult?
Îl văd uneori pe stradă.
Îmi cer scuze, că nu am putut să îți scriu mai repede.
Îmi cer scuze!
Îmi cer scuze!
Îmi pare bine de cunoștință!
Îmi pare rău!
Îmi plac câinii foarte mult.
Îmi place matematica.
Îmi place mult țara ta.
Îmi place să citesc cărți.
Îmi place să citesc.
Îmi place să joc tenis și golf.
Îmi place să vizionez filme.
Îmi plac hamburgerii.
Îmi recunosc greşeala.
Îmi trebuie un nou computer.
Îmi vei lipsi.
În această cameră este aer condiționat.
În bucătărie este o pisică.
În cameră este un televizor.
Încă nu sunt gata.
Încă nu sunt gata.
Încearcă să mărești imaginea.
Încearcă sosul acesta.
Încrederea se câștigă într-o viață și se pierde într-o clipă.
În curând el va putea juca din nou baseball.
Individualismul este boala veacului al XX-lea.
În fabrica noastră lucrează doar cei mai buni croitori.
În final!
În Japonia noul an școlar începe în aprilie.
Înoată cât încă poți.
În primul rând trebuie să găsim o ieșire din această situație.
În sănătatea ta!
În sfârșit!
În situaţii excepţionale luaţi legătura cu agentul meu.
Institutul nostru are cei mai buni profesori.
Intelectul uman este în stare să cerceteze legile naturii.
Interesant.
Intrați!
Între noi fie vorba, are un mod de a gândi superficial.
În ultimul timp am început să folosesc calculatorul.
Învățăm să citim și să scriem.
Învață!
În viitorul apropiat, călătoriile în spațiu nu vor mai fi doar un vis.
Își dorește mult să reușească.
Îți place să dansezi?
Iti spun pentru a nu stiu cita oara: nu!
Iubesc golful.
Iulia este o fată bună.
Jocul de vânătoare s-a apropiat de sfârșit. Paznicul-șef Hudson, credem noi, a primit ordin spus să confiște tot vânatul. Poți șterge din meniu o făzăniță gătită imediat.
Kent este un lider înnăscut.
La început a făcut Dumnezeu cerul şi pământul.
La început a făcut Dumnezeu cerul şi pământul.
L-am văzut pe Ion la bibliotecă.
Lângă casa mea există o biserică.
La revedere!
Limba rusă e foarte greu de învăţat.
Lipsa banilor este rădăcina tuturor relelor.
Lista participanților este următoarea:
Locuiesc în Moldova.
Locuiesc în oraș.
Lui Ann îi place ciocolata foarte mult.
Lui Tom nu îi place vara. Zice că e prea cald.
Luna este minunată toamna.
Mă asculţi?
Mă bucur!
Magazinul este închis duminica.
Mai bine mai târziu decât niciodată.
Mai dați-mi o șansă.
Mâine e sâmbătă?
Mâine este ultima zi de școală.
Mâine, în drum spre școală, te rog, nu uita să expediezi scrisoarea aceasta.
Mâine vom merge la teatru.‎
Mâine vom merge la teatru.‎
Mă întreb de ce femeile trăiesc mai mult decât bărbații.
Mama lui îi face o prăjitură.
Mama mea este sora lor.
Mama mea nu se trezește niciodată devreme.
Mama mea se întâlnește mâine cu dirigintele meu.
Mama ta știe să conducă mașina?
M-am trezit aproximativ la ora șase.
Mănânc o carte.
Mâna ta este rece ca gheaţa.
Mâncăm pâine cu unt.
Marina este din Rusia, iar Clarissa este din Suedia.
Mary este sora mai mică a lui Tom.
Mașa cântă în corul bisericii.
Mă simt fericită când sunt cu tine.
Mă simt fericit când sunt cu tine.
Mătușo, acesta este Tom.
Mă uit la televizor de două ori pe săptămână.
Maxim!
Maxim!
Merită văzute ruinele.
Mi-e dor de familia mea.
Mi-e dor de tine!
Mi-e sete.
Minciună!
Moldova îmi va lipsi.
Mulţi nu pot înţelege legile.
”Mulțumesc.” ”Cu plăcere.”
„Mulțumesc.” — „Cu plăcere.”
„Mulțumesc.” — „Cu plăcere.”
Mulțumesc foarte mult!
Mulțumesc mult pentru urări.
Mulțumesc.
Mulțumesc!
Mulțumesc.
Mulțumim!
N-ai febră.
N-am nevoie de ajutorul tău.
N-am nevoie de ajutorul tău.
Ne-a plăcut mult povestirea.
Ne așteptăm să plouă astăzi.
Nici ea nu mă înțelege.
Nimeni altcineva nu s-a oferit să ajute.
Nimeni din clasă nu aleargă așa de repede ca și el.
Nimic nu este cunoscut în mod cert.
Noapte bună, mamă.
Noapte bună şi vise plăcute.
Noapte bună, vise plăcute.
Noapte bună!
Noapte bună.
Noi suntem fiicele tale.
Noi suntem fiii tăi.
Nori negri treceau deasupra orașului.
Noroc bun!
Noroc bun!
Noroc bun!
Noroc bun!
Noroc bun!
Noroc!
Noroc!
Noroc!
Noroc!
Noroc!
Nu am computer acasă.
Nu am mulți frați.
Nu am nevoie de consilieri.
Nu am nicio legătură cu ei.
Nu am pisică.
Nu aveți voie să fumați aici.
Nu beau cafea.
Nu cânt la pian.
Nu citesc cărți.
Nu deschide fereastra!
Nu deschideți ușa aceasta, vă rog.
Nu deschide ușa aceasta, te rog.
Nu este așa de ușor.
Nu este marfă.
Nu e vina mea!
Nu îmi amintesc exact.
Nu îmi place acest aparat foto.
Nu îmi place să dorm singur.
Nu înțeleg ce zice învăţătoara.
Nu înțeleg ce zice învățătorul.
Nu înțeleg germana.
Nu înțeleg germana.
Nu înțeleg.
Nu întreba.
Nu l-am mai văzut de duminica trecută.
Nu-l ascultați pe omul acesta.
Nu-l asculta.
Nu lucrezi astăzi?
Nu mai pot continua să ignor problema.
Nu mă pot hotărî pe care rochie să o cumpăr.
Nu meriți să trăiești.
Nu-mi încurca.
Nu pot să înțeleg.
Nu pot să mănânc sau să beau ceva prea fierbinte.
Nu pot să te urăsc.
Nu știu ce să comand.
Nu știu ce să comand.
Nu știu ce să mai cred.
Nu știu de ce nu ai spus adevărul.
Nu știu nimic despre URSS.
Nu știu.
Nu sunt american.
Nu, sunt obosit.
Nu sunt rasist.
Nu sunt un monstru.
Nu toate navigatoarele sunt sigure.
Nu vorbesc rusă.
Nu vreau să merg acolo.
Nu vreau să vorbesc cu tine.
Nu vreau să vorbesc despre asta acum.
Nu vrei să vorbești cu mine?
Nu vrei să vorbești cu mine?
Nu.
Oamenii de la Madrid sunt nebuni.
O cunosc.
O cunoști pe fata care stă la fereastră?
O, e un fluture!
O fi ocupat.‎
O promisiune e o promisiune.
Oricine poate să o facă.
Oricine poate să o facă.
Ornitorincii trăiesc în estul Austriei.
O să cumpăr o jucărie pentru copil.‎
Păcat!
Paltonul tău este foarte frumos.
Pare tânăr.
Pari plictisită.
Pari plictisit.
Pe mâine!
Pe mâine!
Pentru câtă vreme rămâi?
Pentru cât timp rămâi?
Pentru ce ai cumpărat acest dicţionar costisitor?
Pentru mine, nu e o problemă.
Pe tine te iubesc mai mult decât pe ea.
Petya este prietenul meu cel mai bun.
Ploua, așa că am luat un taxi.
Plouă cu găleata.
Poate că nu va ploua mâine.
Podul a fost construit de către romani.
Podul Porțile de Aur este din fier.
Poftă bună!
Poftim?
Poftim?
Poftiți, doamnă, serviți-vă!
Poliţistul a întrebat domnişoarele dacă este al lor automobilul.
Poți veni mâine?
Pregătirile sunt în plină desfășurare.
Președintele republicii este ales de către popor.
Prietenului meu îi place înghețata de ciocolată.
Primăria este foarte veche.
Profesorul Hudson este prietenul tatălui meu.
Profesorul meu de limba chineză este bărbat.
Puteti va rog chema un doctor?
Râsul fără motiv e o dovadă de prostie.
Ridică mâna înainte de a răspunde.
România este o ţară frumoasă.
Rugina mănâncă din fier.‎
S-a dus repede la gară pentru a nu pierde trenul.
Salut, ce faci?
Salut, Tom.
Salut!
Sâmbătă am fost la film, apoi la restaurant.
Să mergem.
Sankt Petersburg este un oraș rusesc.
Săptămâna viitoare trebuie să plec la New York.
Sa te ajut.
Să v-ajut.
Scrie-ți adresa aici.
Sensul figurat nu mai este în uz.
Se poate spune și așa.
Şi-a pierdut toţi banii pe care îi avea.
Și mâine e o zi.
Și tu, ce mai faci?
Skopje este capitala Macedoniei.
Sper că veți reuși.
Sper să mori.
Sper să muriți.
Sper să putem lucra împreună în curând.
Spre mirarea mea, era vie.
Spune-mi ce cauți și voi ajuta.
Știi când vor sosi?
Știi să vorbești românește?‎
Știu că încă îl iubești.
Știu că îți datorez bani.
Știu unde locuiește el. Dar e secret.
Studiez istoria Japoniei.
Sunt bărbat.
Sunt bine, mulțumesc. Și dumneavoastră?
Suntem buni prieteni.
Suntem prieteni buni.
Sunt foarte surprins că a devenit membru al parlamentului.
Sunt începător.
Sunt insule pe mare.
Sunt întru totul de acord cu tine.
Sunt jucător de tenis.
Sunt la fel de înalt ca el.
Sunt la restaurant.
Sunt Melanie.
Sunt niște portocale pe masă.
Sunt om.
Sunt puţin beat.
Sunt Ricardo, am 33 de ani și locuiesc în Rio.
Sunt Tom.
Supa este încă fierbinte.
Tatăl meu a ieșit să cumpere o carte poștală.
Tatăl meu nu este acasă acum.
Tatăl meu s-a întors din Osaka săptămâna trecută.
Tatoeba nu este o școala — este o universitate!
Te-ai decis deja unde vei merge?
Te doare capul?
Te felicit de Ziua Programatorilor.
Te iubesc, îngerul meu.
Televizorul nu funcționează.
Te rog, împrumută-mi mașina ta.
Te sun înapoi în curând.
Ți-e foame?
Timpul nostru este limitat.
Toate ființele umane se nasc libere și egale în demnitate și în drepturi. Ele sunt înzestrate cu rațiune și conștiință și trebuie să se comporte unele față de altele în spiritul fraternității.
Tom a ajuns acasă la 2:30.
Tom a înnebunit.
Tom are o experienţă bogata în lucru cu computatoarele.
Tom are trei milioane de dolari la bancă.
Tom a stat cu tatăl său.
Tom merge foarte încet.
Tom nici măcar nu vrea să meargă.
Tom nu se uită la televizor acum.
Tom nu știe ce face Mary acum.
Tom nu știe cu ce să înceapă.
Tom nu știe nimic despre Australia.
Tom nu știe nimic despre familia Mariei.
Tom nu știe.
Tom pune rar întrebări.
Tom și Mary au divorțat.
Tom și Mary locuiesc sub același acoperiș.
Tom știe ce a spus Mary.
Tom știe cine e Mary.
Tom știe unde locuiește Mary.
Tom vrea să încerce un nou șampon.
Toți așteptăm cu nerăbdare vacanța.
Toți au părți bune și slabe.
Toți vorbesc frumos despre el.
Trăiască haosul!
Trăiești ca să mănânci sau mănânci ca să trăiești?
Trebuie să aștept aici.
Trebuie să mă grăbesc.
Trebuie să mănânc ceva.‎
Trebuie să scriu o scrisoare.
Trebuie să sosească la birou peste o oră.
Trebuie să te dezbaieri de acest obicei prostesc.
Trebuie să te trezești la șase.
Tu ai un zâmbet frumos.
Turnul este o piesă de şah.
Unchiul meu a murit de cancer.
Unde e biroul meu?
Unde este banca?
Unde este restaurantul?
Unde este Tom?
Unde este Tony?
Unde ești?
Unde munceşti?
Unde pot găsi un ghid de conversație?
Unde pot găsi un translator?
Unde se află restaurantul?
Unde și când ai primit acest cadou?
Unde sunt ei?
Unde sunt pozele mele?
Unde sunt?
Unde te-ai decis să mergi?
Unde te-ai dus?
Universul este un mister.
Unu, doi, trei, patru, cinci, șase, șapte, opt, nouă, zece.
Următoarea staţie - Bulevardul Victoriei.
Vă mulțumesc foarte mult! — Cu plăcere.
Vă rog, nu uitați să expediați această scrisoare.
Vă rog.
Vă rog.
Vă sunt foarte recunoscător pentru această oportunitate.
Vă sunt foarte recunoscător pentru sfat.
Vă uitați la televizor?
Viața e frumoasă.
Vino aici.
Vino cât poți de repede.
Vorba e de argint dar tăcerea e de aur
Vorbește cu mine!
Vorbește limba engleză cel mai bine din clasă.
Vorbește mai tare, bunicul tău deja nu mai aude așa de bine!
Vorbeşti chineza?
Vorbeşti klingona?
Vorbeşti letona?
Vorbeşti spaniola?
Vorbiți japoneză?
Vorbiţi spaniola?
Vreau o chitară.
Vreau pantofi maro, nu negri.
Vreau să discut cu el acestă întrebare.
Vreau să dorm puțin.‎
Vreau să mă înscriu la curs.
Vreau să merg la un doctor.
Vreau să părăsesc Parisul.
Vreau să plec în Japonia.
Vreau un cadou pentru soția mea.
Vreau zăpadă.
Vrei o ieșire în seara asta?
Vrei să mergi undeva în seara asta?
Zăpada este albă.
Zăpada este albă.
