Nu pot să o fac.
El a jurat că va lăsa fumatul.
Ea va pleca din țară peste șase luni.
Unu, doi, trei, patru, cinci, șase, șapte, opt, nouă, zece.
Eu nu știu.
Este aproape imposibil să terminăm raportul până mâine dimineața.
Când am sunat, el deja plecase.
Echipa noastră a pierdut toate meciurile.
Toate ființele umane se nasc libere și egale în demnitate și în drepturi. Ele sunt înzestrate cu rațiune și conștiință și trebuie să se comporte unele față de altele în spiritul fraternității.
Ei sunt oameni care iubesc pacea.
Misiunea Americii este de a elimina comunismul din lume.
Tu ar trebui să fii soțul fiicei mele.
Este un cal.
Fiicei mele îi plac gălbenușurile de ou.
Te iubesc.
Nu avem șanse să-i batem pe oponenții noștri.
Lipsa banilor este rădăcina tuturor relelor.
Ea este o fată încăpățânată.
Albul mută şi câştigă.
E ceva în neregulă aici.
Ridică receptorul.
Ești o fată drăguță.
O să facem un grătar pe plajă.
E foarte sexy.
Deja am ales cd-ul pe care îl voi cumpăra data viitoare.
E foarte sexy.
Poți să mă ierți?
E foarte sexy.
El ține legătura cu tot felul de oameni.
În general lupii nu atacă oamenii.
Fiecare este o lună, și are o parte întunecată pe care nu o arată nimănui niciodată .
Duceți-vă toți la dracu!
Da.
Nu e glumă.
Nu ma parasi!
Nu știi să înoți, nu-i așa?
